@using FiveMinutesTalk.Domain
@model FiveMinutesTalk.Domain.Entities.Quiz[]

@{
    ViewData["Title"] = "Главная";
}

<body>
<div style="position: relative; left: 40px; top: 50px;">
    <h2>Опросы</h2>
    <hr class="solid" style="width: 90%; margin-left: 0">
</div>

<div id="home-hat">
    <form>
        <div id="search">
            <img class="search-icon" src="/images/search.svg" alt="search-icon" style="height: 20px; width: auto">
            <input type="search" placeholder="Поиск"/>
        </div>
    </form>
    
    <button type="submit" id="profile-button">
        <img src="/images/profile.svg" alt="profile-icon">
    </button>
</div>

<div style="position: relative; text-align: center; top: 100px;">
    <h2>Ваши опросы</h2>
    @foreach (var quiz in Model)
    {
        <form asp-controller="Account" asp-action="Quizzes" asp-route-token="@quiz.Id">
            <button>@quiz.Title</button>
        </form>
    }
    
    <h4>Здесь пока ничего нет</h4>
    <p class="light-text">Если хотите создать опрос, нажмите на кнопку справа внизу</p>
    <img src="/images/empty-polls.svg" alt="no polls here" style="padding-top: 20px">
</div>

<form action="CreateQuiz">
    <button class="submit-button" id="create-poll-button"> <img src="~/images/plus-create-poll.svg" alt="plus">Создать</button>
</form>
</body>