@{
    ViewData["Title"] = "Главная";
}
<body>
<div class="home-polls-text">
    <h2>Опросы</h2>
    <img class="divide" src="Images/line.svg" alt="line">
</div>

<form action="CreateQuiz">
    <button id="create-poll"> <img src="~/images/plus-create-poll.svg" alt="plus">Создать</button>
</form>
</body>