@model FiveMinutesTalk.Domain.Entities.Quiz[]

@{
    ViewData["Title"] = "Главная";
}

<body>
<div id="home-hat">
    <div id="search">
        <img class="search-icon" src="/images/search.svg" alt="search-icon" style="height: 20px; width: auto">
        <input type="search" placeholder="Поиск"/>
    </div>

    <button type="submit" id="profile-button">
        <img src="/images/profile.svg" alt="profile-icon">
    </button>
</div>

<section id="home-content">
    <div style="position: relative; left: 40px; top: 50px;">
        <h2>Опросы</h2>
        <hr class="solid" style="width: 90%; margin-left: 0">
    </div>
    <section id="polls">
        @foreach (var quiz in Model)
        {
            <form asp-controller="Account" asp-action="Quizzes" asp-route-token="@quiz.Id">
                <section class="poll">
                    <section class="poll-block">
                        <div class="block">
                            <button class="more-button">
                                <img src="images/more-horizontal.svg" alt="more-horiz"/>
                            </button>
                            <section class="content">
                                <section class="content-head">
                                    <div class="content-text">
                                        <div class="create">
                                            <p>Создан:</p>
                                            <p>@quiz.CreationDate</p>
                                        </div>
                                        <p>@quiz.Title</p>
                                    </div>
                                    <p class="status-poll">Статус: завершён</p>
                                </section>
                                <button class="button-return-poll">
                                    <div>Посмотреть результаты</div>
                                </button>
                            </section>
                        </div>
                    </section>
                </section>
            </form>
        }
    </section>
</section>

<div id="empty-polls">
    <h4>Здесь пока ничего нет</h4>
    <p class="light-text">Если хотите создать опрос, нажмите на кнопку справа внизу</p>
    <img src="/images/empty-polls.svg" alt="no polls here" style="padding-top: 20px">
</div>

<form action="CreateQuiz">
    <button class="submit-button" id="create-poll-button"> <img src="~/images/plus-create-poll.svg" alt="plus">Создать</button>
</form>
</body>

<script>
let polls = document.querySelector("#polls");
    if (polls.childElementCount > 0)
        document.querySelector("#empty-polls").setAttribute("style", "display: none");
</script>