@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вы можете создать опрос</h1>
    <form action="Home/CreateQuiz">
       <button>Создать опрос</button>
      </form>
</div>