@model QuestionModel

<h1>Добавьте вопросы:</h1>
<form method="post" asp-controller="CreateQuiz" asp-action="Check">
    <label>Введите вопрос:</label>
    <input asp-for="Text">
    <input type="submit" value="Загрузить вопрос">
    <br>
    <input type="button" value="Добавить вопрос" onclick="addQuestion()">
</form>