@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model QuestionModel

<body>
<form method="post" asp-controller="CreateQuiz" asp-action="SaveChanges">
    <section id="create-poll-content">
        <input type="text" name="quizTitle" id="name-poll" required value="Новый опрос" placeholder="Введите название"/>
        <section id="questions">
            <div id="Form1" class="question-block">
                <section id="Question1" class="question">
                    <section class="hat-question">
                        <div class="number-question">1.</div>
                        <input class="form-control" name="questions[0].Text" type="text" value="Название вопроса" placeholder="Введите название вопроса">
                        <label>
                            <select id="1" asp-for="Type" name="questions[0].Type" class="form-select">
                                @{
                                    var value = 0;
                                    foreach (var type in Enum.GetValues(typeof(QuestionTypeEnum)))
                                    {
                                        <option value="@value">@type.ToString()</option>
                                        value += 3;
                                    }
                                }
                            </select>
                        </label>
                    </section>
                    <div id="Answer1" class="answer">
                        <input id="Text1" class="text-question" type="text" placeholder="Ответ">
                    </div>
                </section>
                <section class="bottom-question">
                    <label class="obligatory">
                        <input type="checkbox">
                        <div style="font-size: 14px">Обязательный вопрос</div>
                    </label>
                    <section class="right-part">
                        <button class="right-answer" formmethod="dialog">
                            <div style="font-family: 'Montserrat SemiBold',serif; color: #69E167">++</div>
                            <div style="font-family: Montserrat,serif">Правильный ответ</div>
                        </button>
                        <button class="close-button" formmethod="dialog">
                            <img src="images/bin.svg" alt="bin"/>
                        </button>
                    </section>
                </section>
                <button id="AddQuestion1" formmethod="dialog" class="add-question"> <img src="~/images/add-question.svg" alt="plus">Добавить вопрос</button>
            </div>
        </section>
    </section>

    <section id="create-poll-hat">
        <button type="submit">
            <img src="images/eye.svg" alt="eye-icon">
        </button>
        <button type="submit" id="save-poll">Сохранить</button>
        <button type="submit">
            <img src="images/more.svg" alt="more-icon">
        </button>
        <button type="submit" id="profile-button">
            <img src="images/profile.svg" alt="profile-icon">
        </button>
    </section>
</form>
<section id="tabs">
    <button type="submit" class="tab" id="tab-questions">Вопросы</button>
    <button type="submit" class="tab" id="tab-answer">Ответы</button>
    <button type="submit" class="tab" id="tab-settings">Настройки</button>
</section>
</body>