@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model QuestionModel

<body>
<form method="post" asp-controller="CreateQuiz" asp-action="SaveChanges">
    <section id="create-poll-content">
        <input type="text" name="quizTitle" id="name-poll" required value="Новый опрос" placeholder="Введите название"/>
        <section id="questions">
            <div id="Form1" class="question-block">
                <section id="hat-question">
                    <input class="form-control" name="questions[0].Text" id="Question1" name="Question" type="text" value="Название вопроса" placeholder="Введите название вопроса">
                    <label>
                        <select id="1" asp-for="Type" name="questions[0].Type" class="form-select">
                            @{
                                var value = 0;
                                foreach (var type in Enum.GetValues(typeof(QuestionTypeEnum)))
                                {
                                    <option value="@value">@type.ToString()</option>
                                    value += 3;
                                }
                            }
                            @*<option value="0">Текст</option>
                            <option value="1">Код</option>
                            <option value="2">Один из списка</option>
                            <option value="3">Несколько из списка</option>*@
                        </select>
                    </label>
                </section>
                <div id="Answer1">Текст</div>
                <button id="AddQuestion1" formmethod="dialog" class="add-question"> <img src="~/images/add-question.svg" alt="plus">Добавить вопрос</button>
                <button class="close-button" formmethod="dialog">X</button>
                <button>Сохранить опрос</button>
            </div>
        </section>
    </section>
</form>
</body>