@model QuestionModel

<div class="text-center">
    @* без понятия, что за юзинг, не я делал 
    using (Html.BeginForm(FormMethod.Post))*@
    
    <h2 class="display-4">Новый опрос</h2>
    
    @* вот в этом контейнере мы будем хранить все поля, которые генерятся в newField(){если что это функция в JS файле site} *@
    <div id="questions" class="col-9"></div>
    <input type="button" value="Добавить вопрос" onclick="newField()"/>
    <input type="submit" value="Сохранить"/>
</div>