@model Guid

<section id="overlay">
    <section id="popup">
        <div class="hat">
            <h1>Ваш опрос сохранён!</h1>
            <hr class="solid" style="width: 800px; margin-left: 0">
        </div>
        <section class="content">
            <div class="bold-text">Ссылка:</div>
            <div id="quiz-id" style="border-bottom: 2px solid var(--green);">https://localhost:44360/solvequiz?token=@ViewBag.QuizId</div>
            <button type="submit" onclick="copyText()" class="copy-text">
                <img src="/images/copy.svg" alt="copy-icon">
            </button>
        </section>
        <form asp-controller="Account" asp-action="Quizzes" asp-route-token="@Model">
            <button class="close light-text" onclick="closePopUp()" >&times;</button>
        </form>
    </section>
    <span id="snackbar">Скопировано</span>
</section>