#create-poll-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-poll {
    position: absolute;
    width: 300px;
    height: 44px;

    top: 150px;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

#questions {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 800px;
    top: 250px;
}

.question-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 800px;
    margin-bottom: 50px;
    height: 350px;
}

.add-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1px;
    gap: 15px;
    width: 170px;
    height: 40px;
    border-radius: 100px;
}

select {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;

    width: 220px;
    height: 35px;

    border: 1px solid #69E167;
    border-radius: 15px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 10px 0 0;
    gap: 15px;

    width: 800px;
}

.hat-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;

    width: 800px;
    height: 45px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-question {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 770px;
    height: 40px;

    border-bottom: 1px solid #69E167;
}

.checkbox {
    width: 18px;
    height: 18px;
}

.checkbox:checked {
    width: 18px;
    height: 18px;
    accent-color: #69E167;

}

.checkbox-label, .radio-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    width: 789px;
    height: 40px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.add-checkbox {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 770px;
    height: 40px;

    color: rgba(0, 0, 0, 0.5);
}

.form-control {
    width: 541px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    /* identical to box height */

    display: flex;
    align-items: flex-start;

}

.number-question {
    color: #69E167;
    font-family: "Montserrat SemiBold", serif;
}

#save-poll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 45px;
    gap: 15px;

    width: 160px;
    height: 50px;
    color: white;

    background: #69E167;
    border-radius: 15px;
}

#create-poll-hat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 25px;

    position: absolute;
    width: 328px;
    height: 50px;
    right: 5%;
    top: 40px;
}

#tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    padding: 0;
    gap: 25px;
    
    width: 160px;
    height: 300px;
    left: 60px;
    top: 250px;
}

#tabs button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: 160px;
    height: 65px;
    border-radius: 15px;
    background-color: white;
}

#tabs button.active {
    background-color: #C1F3C1;
}

.bottom-question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 350px;

    width: 800px;
    height: 64px;
}

.obligatory {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    width: 250px;
    height: 40px;
}

.right-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 50px;

    width: 250px;
    height: 44px;
}

.right-answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 182px;
    height: 44px;
}