/* Для главной страницы */

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    position: relative;
    width: 217px;
    height: 81px;
    left: 50px;
    top: 10px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    gap: 15px;
    color: white;
    font-size: 20px;

    width: auto;
    height: 70px;

    background: var(--green);

    box-shadow: var(--shadow);
    border-radius: 100px;
    border-color: transparent;
    transition: all 0.5s ease;
}

.submit-button:hover{
    background-color: var(--hover-green);
}

#create-poll-button{
    right: 120px;
    bottom: 50px;
    position: fixed;
}

#home-hat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 50px;

    position: absolute;
    width: 655px;
    height: 45px;
    right: 120px;
    top: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;

    width: 560px;
    height: 20px;

    background: var(--light-grey);
    border-radius: 50px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#search ::placeholder {
    font-size: 14px;
    font-family: "Montserrat Light", serif;
}

#profile-button {
    border: none;
    background-color: transparent;
}