html {
    font-size: 20px;
    font-family: "Montserrat", serif;
    position: relative;
    min-height: 100%;
}

.search ::placeholder {
    font-size: 14px;
    font-family: "Montserrat Light", serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.h2 {
    color: rgba(0, 0, 0, 0.8);
}

.light-text {
    font-family: "Montserrat Light", serif;
}

#create-poll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 15px;
    color: white;
    font-size: 20px;

    position: fixed;
    width: 180px;
    height: 70px;
    right: 120px;
    bottom: 50px;

    background: #69E167;

    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.15), 5px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 100px;
    border-color: transparent;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 40px;
    top: 10px;
    grid-gap: 30%;
    align-items: center;
}

.home-polls-text {
    position: relative;
    left: 40px;
    top: 50px;
}

.empty-polls {
    position: relative;
    text-align: center;
    top: 100px;
}

.logo {
    height: 70px;
    width: auto;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;

    width: 560px;
    height: 20px;

    background: #EBEBEB;
    border-radius: 50px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

input:focus {
    outline: none;
}

button, input, select {
    background-color: transparent;
    border: none;
    align-items: center;
    font-family: "Montserrat SemiBold", serif;
}

.right-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
}

.profile-button {
    border: none;
    background-color: transparent;
}

.poll-create {
    position: relative;
    text-align: center;
    top: 50px;
}

.poll-create .name-poll {
    font-size: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

#add-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1px;
    gap: 15px;
    width: 170px;
    height: 40px;
    border-radius: 100px;

}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 0;
    gap: 30px;
    position: relative;
}

select {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;

    width: 220px;
    height: 35px;

    /* green */

    border: 1px solid #69E167;
    border-radius: 15px;

    /* Inside auto layout */

}

.question-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 100px;

    position: absolute;
    width: 838px;
    right: 120px;
    top: 100px;
}