<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FiveMinutesTalk</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/fav.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/create-poll.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/solve-poll.css" asp-append-version="true"/>
</head>
<body>
<header>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img id="logo" src="~/images/icon.svg" runat="server" alt="logo"/>
    </a>
</header>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>