<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Metatags")
    <title>@ViewData["Title"] - FiveMinutesTalk</title>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
<header>
    @await Html.PartialAsync("HeaderPartial")
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    @await Html.PartialAsync("FooterPartial")
</footer>
@await Html.PartialAsync("ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>