<section class="bottom-question">
    <label class="obligatory">
        <input type="checkbox">
        <div style="font-size: 14px">Обязательный вопрос</div>
    </label>
    <section class="right-part">
        <button class="close-button" formmethod="dialog">
            <img src="/images/bin.svg" alt="bin"/>
        </button>
    </section>
</section>