<label>
    @{
        <textarea id="code_@ViewBag.QuestionNumber" name="answers[@ViewBag.QuestionNumber].Answers" style="display: none"></textarea>
        <script>
            var textarea = document.getElementById("code_@ViewBag.QuestionNumber");
            var editor = CodeMirror.fromTextArea(textarea, {
                lineNumbers: true,
                lineWrapping: true,
                matchBrackets: true,
                indentUnit: 5,
                lint: true,
            });
            
            editor.on('change', function () {
                textarea.value = editor.getValue();
            });
            
            if (@(ViewBag.WithAnswers) === 1)
                editor.getDoc().setValue("@ViewBag.Answer");
        </script>
    }
</label>