<section id="create-poll-hat">
    <button type="submit">
        <img src="/images/eye.svg" alt="eye-icon">
    </button>
    <button type="submit" id="save-poll">Сохранить</button>
    <button type="submit">
        <img src="/images/more.svg" alt="more-icon">
    </button>
    <button type="submit" id="profile-button">
        <img src="/images/profile.svg" alt="profile-icon">
    </button>
</section>