<label>
    <input class="text-question" type="text" id="answer_@ViewBag.QuestionNumber" placeholder="Ответ"
           name="answers[@ViewBag.QuestionNumber].Answers" value="@ViewBag.Answer">
</label>