@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model string[]

<label>
    @{
        var optionNumb = 0;
        foreach (var option in ((Question)ViewBag.Question).AnswerOptions)
        {
            ViewBag.OptionNumb = optionNumb;
            ViewBag.OptionText = option;
            @await Html.PartialAsync("Option", Model)
            optionNumb++;
        }
    }
</label>