<section id="settings">
    <div class="options">
        <section class="option">
            <div class="bold-text">Начало опроса:</div>
            <input id="start-time" type="datetime-local" name="start"/>
        </section>

        <section class="option">
            <div class="bold-text">Конец опроса: </div>
            <input id="end-time" type="datetime-local" name="end"/>
        </section>
    </div>
</section>