<form method="post" asp-controller="Statistics" asp-action="Index" asp-route-quizId="@ViewBag.QuizId">
        <section class="switch-statistic">
                <input type="submit" name="1" value="Общая" />
                <input type="submit" name="2" value="Раздельная" />
        </section>
</form>