<section class="switch-statistic">
    <form asp-controller="GeneralStatistics" asp-action="Index" asp-route-token="@ViewBag.QuizId">
        <button>Общая</button>
    </form>
    <form asp-controller="SeparateStatistics" asp-action="Index" asp-route-token="@ViewBag.QuizId">
        <button>Раздельная</button>
    </form>
</section>