<div id="tabs">
    <form asp-controller="Account" asp-action="Quizzes" asp-route-token="@ViewBag.QuizId">
        <button type="submit" class="tab" id="tab-questions" name="tab-group" value="">Вопросы</button>
    </form>
    
    <form asp-controller="GeneralStatistics" asp-action="Index" asp-route-token="@ViewBag.QuizId">
       <button type="submit" class="tab" id="tab-answers" name="tab-group" value="">Ответы</button>
    </form>
</div>