<form method="post" asp-controller="Tabs" asp-action="Index" asp-route-quizId="@ViewBag.QuizId">
    <div id="tabs">
        <button type="submit" class="tab" id="tab-questions" name="1" value="">Вопросы</button>
        <button type="submit" class="tab" id="tab-answers" name="2" value="">Ответы</button>
    </div>
</form>