@model LoginViewModel
<body>
<form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
    <img src="/images/login.svg" alt="login" style="top: 25%; position: absolute; left: 5%">
    <div class="frame-login">
        <h2>Вход</h2>
        <section style="display: flex; align-items: center; flex-direction: column; gap: 40px; padding: 0">
            <section class="inputs-login">
                <input asp-for="UserName" class="login-input" placeholder="Email" type="email" required/>
                <input asp-for="Password" class="login-input" placeholder="Пароль" type="password" required/>
            </section>
            <button type="submit" class="login-button">Войти</button>
        </section>
        <div class="not-register">
            <div>Нет аккаунта?</div>
            <button style="color: #69E167;">Зарегистрироваться</button>
        </div>
    </div>
</form>
</body>