@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

<script src="/js/site.js"></script>
<body>
<form method="post" asp-controller="CreateQuiz" asp-action="SaveChanges">
    <div class="page" id="create-poll-content">
        <input type="text" name="quizTitle" class="name-poll" required value="@ViewBag.Title" placeholder="Введите название опроса" onFocus="this.select()"/>
        <section id="questions">
            <div id="Form1" class="question-block">
                <section id="Question1" class="question">
                    <section class="hat-question">
                        <section class="number-question">
                            <div class="number">1</div>
                            <div class="dot">.</div>
                        </section>
                        <input class="name-question" name="questions[0].Text" name="Question" type="text" value="Новый вопрос" placeholder="Введите название вопроса" onFocus="this.select()">
                        @await Html.PartialAsync("QuestionTypeSelect")
                    </section>
                    <div id="Answer1" class="answer">
                        <input id="Text1" class="text-question" type="text" placeholder="Ответ">
                    </div>
                </section>
                <section class="bottom-question">
                    <label class="obligatory">
                        <input type="checkbox">
                        <div style="font-size: 14px">Обязательный вопрос</div>
                    </label>
                    <section class="right-part">
                        <button class="right-answer" formmethod="dialog">
                            <div style="font-weight: 600; color: var(--green);">++</div>
                            <div style="font-weight: 400">Правильный ответ</div>
                        </button>
                        <button class="close-button round-button" formmethod="dialog">
                            <img src="/images/bin.svg" alt="bin"/>
                        </button>
                    </section>
                </section>
                <button id="AddQuestion1" formmethod="dialog" class="add-question"> <img src="/images/add-question.svg" alt="plus">Добавить вопрос</button>
            </div>
            @{
                var counter = 0;
                foreach (var guid in Model)
                {
                    Question question = ViewBag.DataManager.Questions.GetItemById(guid);
                    counter++;
                    var form = $"Form{counter}";
                    <script>
                        var button = document.querySelector('#AddQuestion1');
                        button.parent = document.querySelector('#Form1');
                        var ev = {
                            currentTarget: button 
                        }
                        newField(ev);
                        var newQuestion = document.querySelector('#@form');
                        var select = document.getElementsByClassName("form-select")[@(counter - 1)];
                        select.value = "@question.Type.ToString()";
                        ev = {
                            currentTarget: select,
                            id: @counter
                        }
                        changeComponents(ev);
                    </script>
                }
            }
        </section>
    </div>

    <section id="create-poll-hat">
        <button type="submit">
            <img src="/images/eye.svg" alt="eye-icon">
        </button>
        <button type="submit" id="save-poll">Сохранить</button>
        <button type="submit">
            <img src="/images/more.svg" alt="more-icon">
        </button>
        <button type="submit" id="profile-button">
            <img src="/images/profile.svg" alt="profile-icon">
        </button>
    </section>
</form>
@await Html.PartialAsync("Tabs")
</body>
